// src/styles/_variables.scss

$primary-color: #fd9d02;
$point-color: #004483;
$dark-color: #333333;
$gray-color1: #3e3e3e;
$gray-color2: #444444;
$gray-color3: #737373;
$gray-color4: #787878;
$font-stack: 'Pretendard';
$padding-base: 16px;
