@use '../variables';

header {
  background: #fff;
  // 나머지 스타일들...
}

header {
  background: #fff;
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  .headerWrap {
    width: 1080px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .siteWrap {
      li {
        a {
          color: variables.$primary-color;
          font-weight: bold;
        }
      }
    }
    .btnWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 164px;
      height: 40px;
      gap: 20px;
      background: variables.$primary-color;
      color: #fff;
      font-size: 14px;
    }
  }
}
